.scrollyteller {
  background-color: #1c2121 !important;
}

@media (min-width: 400px) {
  .panel {
    margin-right: calc(30% - 24.75rem);
    width: 49.5rem;

    img {
      max-width: 60%;
    }
  }
}

.panel:last-of-type {
  margin-bottom: 100vh !important;
}
