.scrollyteller {
  background-color: #1c2121 !important;
}

@media (max-width: 1023px) {
  .panel {
    &:before {
      background: rgba(0, 0, 0, 0.8) !important;
    }

    img {
      display: inherit !important;
      margin: auto !important;
      max-width: 90% !important;
    }
  }
}

@media (min-width: 1024px) {
  .panel {
    margin-right: calc(30% - 24.75rem) !important;
    width: 49.5rem !important;

    &:before {
      background: none !important;
    }

    img {
      display: inherit !important;
      max-width: 60% !important;
      margin: auto !important;
    }
  }
}

.panel:last-of-type {
  margin-bottom: 100vh !important;
}
