.scrollyteller {
  background-color: #1c2121 !important;
}

.panel {
  --color-panel-background: rgba(0, 0, 0, 0.8);
}

@media (min-width: 1400px) {
  .panel {
    --color-panel-background: transparent;
    margin-right: 10%;
  }
}

.panel:last-of-type {
  margin-bottom: 100vh !important;
}

.panel img {
  display: block;
  margin: 0 auto;
  max-width: 90% !important;
}
